---
import { getCollection, type CollectionEntry } from 'astro:content';
import FeatureCard from './ui/FeatureCard.astro';

const features: CollectionEntry<'features'>[] = await getCollection('features');
---

<section
  id="features"
  class="flex flex-col items-center gap-10 px-2 py-8 xs:px-4 lg:px-6"
>
  <h2 class="text-center capitalize text-primary-800">
    Haz que cada peso cuente
  </h2>
  <div
    class="flex flex-wrap justify-center gap-2 xs:gap-4 lg:gap-6 w-full max-w-6xl"
  >
    {features.map(feat => <FeatureCard feature={feat} />)}
  </div>
</section>
