---
import Logo from '../assets/svg/logo_dark.svg';
---

<footer class="flex flex-col items-center gap-8 p-6 lg:p-18 bg-primary-950">
  <div
    class="flex flex-col md:flex-row md:justify-between items-center gap-8 w-full"
  >
    <div>
      <Logo class="mx-auto mb-2 lg:mb-4 w-32 lg:w-48 h-fit" />
      <span
        class="block text-sm lg:text-lg font-medium text-center text-neutral-50"
        >Aprende, invierte, crece</span
      >
    </div>
    <ul
      class="flex flex-wrap items-center justify-center md:justify-end gap-6 sm:w-3/5 xl:w-fit text-sm lg:text-lg font-medium text-secondary-300"
    >
      <li>
        <a href="#features"> Características </a>
      </li>
      <li>
        <a href="#problem-statement"> ¿Sabías Qué? </a>
      </li>
      <li>
        <a href="#why"> Caso de uso </a>
      </li>
      <li>
        <a href="#pricing"> Nuestros Planes </a>
      </li>

      <li>
        <a href="#demo">Accede al Prototipo</a>
      </li>
      <li>
        <a href="#team"> Nuestro Equipo </a>
      </li>
    </ul>
  </div>
  <p class="self-end text-xs lg:text-base md:text-end text-secondary-300">
    Copyright © MonyTip 2025
  </p>
</footer>
