---
import { getCollection, type CollectionEntry } from 'astro:content';
import PlanCard from './ui/PlanCard.astro';

const plans: CollectionEntry<'pricing_plans'>[] =
  await getCollection('pricing_plans');
---

<section
  id="pricing"
  class="mb-10 lg:mb-32 px-4 xs:px-6 d:px-10 lg:px-16 py-6 lg:py-12"
>
  <h2 class="mb-8 text-center text-primary-800 capitalize">
    Conoce nuestros planes
  </h2>
  <div class="flex flex-wrap gap-8 justify-center">
    {plans.map(plan => <PlanCard plan={plan} />)}
  </div>
</section>
